::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background:  rgba(40, 40, 40, 1);
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

select{    
    border:none;
}
.main_window {
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
}

.top_bar_button {
    background-color: rgba(20, 20, 20, 1);
    border: solid thin black;
    position: absolute;
    top: 0%;
    width: 10%;
    height: 100%;
    text-align: center;
    font-family: 'Courier New', monospace;
    align-items: middle;
}

.tab button {
    cursor: pointer;
    /*transition: 0.3s;*/
}

.tab button:hover {
    background-color: #404040;
}

/*
.tab button.active {
    background-color: #606060;
}
*/
.tabcontent {
    display: none;
}

.top_bar {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 6%;
    background: rgba(20, 20, 20, 1);
    padding: 0%;
    margin: 0%;
    color: white;
    font-family: 'Courier New', monospace;
    align-items: middle;
}

.jsat_title {
    color: white;
    left: 0%;
}

.simulation_tab {
    color: aquamarine;
    left: 10%;
    display: block;
}

.plotting_tab {
    color: aquamarine;
    left: 20%;
}

.animation_tab {
    color: aquamarine;
    left: 30%;
}


.connect_button {
    color: aquamarine;
    left: 80%;
}

.connect_status {
    color: crimson;
    left: 90%;
}

.main_div {
    position: absolute;
    top: 6%;
    left: 0%;
    width: 100%;
    height: 64%;
    background: rgba(40, 40, 40, 1);
    padding: 0%;
    margin: 0%
}

.simulation_options_div {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 25%;
    height: 100%;
    background: rgba(40, 40, 40, 1);
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    border: solid thin black;
}

.simulate_button {
    background-color: rgba(20, 20, 20, 1);
    box-sizing: border-box;
    border: black thin solid;
    color: aquamarine;
    font-family: 'Courier New', monospace;
    text-align: center;
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 100%;
    height: 6%;
}

.saveComponentDetailsButton {
    background-color: rgba(20, 20, 20, 1);    
    border: black thin solid;
    color: aquamarine;
    font-family: 'Courier New', monospace;    
    position: relative;
    top:3%;
    left: 0%;
    width: 50%;
    height: 6%;
}

.spacecraft_builder_div {
    position: absolute;
    top: 0%;
    left: 25%;
    width: 25%;
    height: 50%;
    background: rgba(40, 40, 40, 1);
    box-sizing: border-box;
    border: solid thin black;
}

.spacecraft_loader_div {
    position: absolute;
    top: 50%;
    left: 25%;
    width: 25%;
    height: 50%;
    background: rgba(40, 40, 40, 1);
    box-sizing: border-box;
    border: solid thin black;
}

.add_spacecraft_button {
    background: rgba(30, 30, 30, 1);
    font-family: 'Courier New', monospace;
    color: aquamarine;
    box-sizing: border-box;
    border: solid thin black;
    position: absolute;
    top: 0%;
    width: 100%;
    height: 10%;
}

.add_component_button {
    background: rgba(30, 30, 30, 1);
    font-family: 'Courier New', monospace;
    color: aquamarine;
    box-sizing: border-box;
    border: solid thin black;
    position: absolute;
    top: 0%;
    width: 100%;
    height: 5%;
}

.spacecraft_popup {
    background: rgba(40, 40, 40, 1);
    box-sizing: border-box;
    border: solid thin black;
    position: absolute;
    top:10%;
    width:100%;
    height:20%;
    left:0%;
    display:none;
    z-index: 1;
}

.component_popup {
    background: rgba(40, 40, 40, 1);
    box-sizing: border-box;
    border: solid thin black;
    position: absolute;
    top:5%;
    width:100%;
    height:10%;
    left:0%;
    display:none;
    z-index: 1;
}

.add_spacecraft_save_button {
    background: rgba(30, 30, 30, 1);
    font-family: 'Courier New', monospace;
    color: aquamarine;
    box-sizing: border-box;
    border: solid thin black;
    position: absolute;
    top: 50%;
    left:0%;
    width: 50%;
    height: 50%;
}

.add_component_save_button {
    background: rgba(30, 30, 30, 1);
    font-family: 'Courier New', monospace;
    color: aquamarine;
    box-sizing: border-box;
    border: solid thin black;
    position: absolute;
    top: 50%;
    left:0%;
    width: 50%;
    height: 50%;
}

.add_spacecraft_cancel_button {
    background: rgba(30, 30, 30, 1);
    font-family: 'Courier New', monospace;
    color: crimson;
    box-sizing: border-box;
    border: solid thin black;
    position: absolute;
    left:50%;
    top: 50%;
    width: 50%;
    height: 50%;
}

.add_component_cancel_button {
    background: rgba(30, 30, 30, 1);
    font-family: 'Courier New', monospace;
    color: crimson;
    box-sizing: border-box;
    border: solid thin black;
    position: absolute;
    left:50%;
    top: 50%;
    width: 50%;
    height: 50%;
}

.spacecraft_name {
    position: absolute;
    left: 0%;
    width: 100%;
    height: 50%;
}

.component_name {
    position: absolute;
    left: 0%;
    width: 100%;
    height: 50%;
}

.spacecraft_buttons {
    background: rgba(35, 36, 36, 1);
    color: whitesmoke;
    position: relative;
    left: 0%;
    width: 100%;
    height: 10%;
    top: 10%;    
    font-family: 'Courier New', monospace;
}

.active_border  {    
    border: solid thin aquamarine;
}

.not_active_border {
    border: solid thin black;
}

.component_buttons {
    background: rgba(35, 36, 36, 1);
    color: whitesmoke;
    position: relative;
    left: 0%;
    width: 100%;
    height: 5%;
    top: 0%;        
    font-family: 'Courier New', monospace;
}

.component_builder_div {
    position: absolute;
    top: 0%;
    left: 50%;
    width: 25%;
    height: 100%;
    background: rgba(40, 40, 40, 1);
    box-sizing: border-box;
    border: solid thin black;
}

.component_div {
    position: absolute;
    top:5%;
    height:95%;
    width:100%;
    left:0%;
    background: rgba(40, 40, 40, 1);
    box-sizing: border-box;
    border: solid thin black;
    display:none;    
}

.component_menu {
    position: absolute;
    top:5%;
    height:95%;
    width:100%;
    left:0%;
    background: rgba(40, 40, 40, 1);
    box-sizing: border-box;
    border: solid thin black;
    display:none;
    z-index: 1;
}

.component_button {
    background: rgba(35, 36, 36, 1);
    color: aquamarine;
    position: relative;
    left: 0%;
    width: 100%;
    height: 5%;
    top: 0%;
    box-sizing: border-box;
    border: solid thin black;
    font-family: 'Courier New', monospace;
}

.cancel_component_button {
    background: rgba(35, 36, 36, 1);
    color: crimson;
    position: relative;
    left: 0%;
    width: 100%;
    height: 5%;
    top: 0%;
    box-sizing: border-box;
    border: solid thin black;
    font-family: 'Courier New', monospace;
}

.component_details_div {
    position: absolute;
    top: 0%;
    left: 75%;
    width: 25%;
    height: 100%;
    background: rgba(40, 40, 40, 1);
    box-sizing: border-box;
    border: solid thin black;
}

.component_details_form_div {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background: rgba(40, 40, 40, 1);
    box-sizing: border-box;
    border: solid thin black;
}

.body_div {
    height: 28%;
}

.rw_div {
    height: 12%;
}

.iru_div {
    height: 6%;
}

.thr_div {
    height: 12%;
}

.form {
    position: absolute;
    height: 100%;
    display: inline;
    float: left;
    font-size: small;
}

.form_font {
    color: aquamarine;
    font-family: 'Courier New', monospace;
}

.form_input {
    color: white;
    background-color: rgba(30, 30, 30, 1);
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
    box-sizing: border-box;
    border: solid thin black
}

.console_log {
    position: absolute;
    top: 70%;
    left: 0%;
    width: 100%;
    height: 30%;
    background-color: rgba(35, 36, 36, 1);
    color: white;
    box-sizing: border-box;
    border: solid thin black;    
    overflow: auto;
}

.plots {
    position: absolute;
    top: 0%;
    left: 25%;
    height: 100%;
    width: 75%;
    background-color: rgba(35, 36, 36, 1);
    box-sizing: border-box;
    border: solid thin black;
    overflow: hidden;
}

.states {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 25%;
    height: 100%;
    background-color: rgba(35, 36, 35, 1);
    box-sizing: border-box;
    border: solid black thin;
}

.state_select {
    position: relative;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 88%;
    background-color: rgba(35, 36, 35, 1);
    border: none;
    box-sizing: border-box;
    color: aliceblue
}

.spacecraft_loader_select {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 90%;
    background-color: rgba(35, 36, 35, 1);
    color: aliceblue
}

.load_spacecraft_button {
    background-color: rgba(20, 20, 20, 1);
    box-sizing: border-box;
    border: black thin solid;
    color: aquamarine;
    font-family: 'Courier New', monospace;
    text-align: center;
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 100%;
    height: 12%;
}

.plot_state {
    background-color: rgba(20, 20, 20, 1);
    box-sizing: border-box;
    border: black thin solid;
    color: aquamarine;
    text-align: center;
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 100%;
    height: 10%;
}